{
    "swagger": "2.0",
    "info": {
        "version": "0.1.0",
        "title": "Transit API",
        "description": "A transit stop, route and schedule api in swagger-2.0 specification\n(tbd upgrade to openapi 3.0 asap)",
        "termsOfService": "http://opentransittools.com/api/blob/master/README.md#terms",
        "contact": {
            "name": "OpenTransitTools",
            "email": "api@opentransittools.com",
            "url": "http://opentransittools.com/api"
        },
        "license": {
            "name": "Mozilla Public License 2.0",
            "url": "http://opentransittools.com/api/blob/master/LICENSE"
        }
    },
    "host": "api.opentransittools.com",
    "basePath": "/v1",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {

        "/agencies": {
            "get": {
                "description": "Returns all agencies loaded in the system",
                "operationId": "list agencies",
                "parameters": [
                    {
                        "$ref": "./parameters.json#/offsetParam"
                    },
                    {
                        "$ref": "./parameters.json#/limitParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "list of available agencies",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "./Agency.json"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "./Error.json"
                        }
                    }
                }
            }
        },

        "/route_directions/{route_id}/{agency_id}": {
            "get": {
                "description": "Returns all route directions for the given route in the system",
                "operationId": "list agencies",
                "parameters": [
                    {
                        "$ref": "./parameters.json#/agencyIdParam"
                    },
                    {
                        "$ref": "./parameters.json#/routeIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "list of available agencies",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "./RouteDirection.json"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "./Error.json"
                        }
                    }
                }
            }
        },

        "/routes": {
            "get": {
                "description": "returns all routes from the system that the user has access to",
                "operationId": "list routes",
                "parameters": [
                    {
                        "$ref": "./parameters.json#/agencyIdParam"
                    },
                    {
                        "$ref": "./parameters.json#/dateParam"
                    },
                    {
                        "$ref": "./parameters.json#/offsetParam"
                    },
                    {
                        "$ref": "./parameters.json#/limitParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "route list response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "./Route.json"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "./Error.json"
                        }
                    }
                }
            }
        },
        "/routes/{route_id}": {
            "get": {
                "description": "returns an array of routes, with a route_id filter (often the array will only have 1 element)",
                "operationId": "find a route(s) via route_id\ninclude agency_id to make make sure you have a unique route",
                "parameters": [
                    {
                        "$ref": "./parameters.json#/agencyIdParam"
                    },
                    {
                        "$ref": "./parameters.json#/routeIdParam"
                    },
                    {
                        "$ref": "./parameters.json#/dateParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "route response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "./Route.json"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "./Error.json"
                        }
                    }
                }
            }
        },


        "/stops": {
            "get": {
                "description": "returns all stops from the system that the user has access to",
                "operationId": "list stops",
                "parameters": [
                    {
                        "$ref": "./parameters.json#/agencyIdParam"
                    },
                    {
                        "$ref": "./parameters.json#/dateParam"
                    },
                    {
                        "$ref": "./parameters.json#/offsetParam"
                    },
                    {
                        "$ref": "./parameters.json#/limitParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "stop list response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "./Stop.json"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "./Error.json"
                        }
                    }
                }
            }
        },
        "/stops/{stop_id}": {
            "get": {
                "description": "returns an array of stops, with a stop_id filter (often the array will only have 1 element)",
                "operationId": "find stop(s) by stop_id\nneed to include agency_id to make make sure you have a unique stop",
                "parameters": [
                    {
                        "$ref": "./parameters.json#/stopIdParam"
                    },
                    {
                        "$ref": "./parameters.json#/dateParam"
                    },
                    {
                        "$ref": "./parameters.json#/agencyIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "stop response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "./Stop.json"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "./Error.json"
                        }
                    }
                }
            }
        },
        "/stops/{stop_id}/{agency_id}": {
            "get": {
                "description": "returns a single stop object based on stop_id and agency_id",
                "operationId": "find a single stop by stop_id and agency_id",
                "parameters": [
                    {
                        "$ref": "./parameters.json#/stopIdParam"
                    },
                    {
                        "$ref": "./parameters.json#/agencyIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "single stop response",
                        "schema": {
                            "$ref": "./Stop.json"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "./Error.json"
                        }
                    }
                }
            }
        }
    }
}