{
    "swagger": "2.0",
    "info": {
        "version": "0.1.0",
        "title": "Transit API",
        "description": "A transit stop, route and schedule api in swagger-2.0 specification (tbd openapi 3.0)",
        "termsOfService": "http://opentransittools.com/api/blob/master/README.md#terms",
        "contact": {
            "name": "OpenTransitTools",
            "email": "api@opentransittools.com",
            "url": "http://opentransittools.com/api"
        },
        "license": {
            "name": "Mozilla Public License 2.0",
            "url": "http://opentransittools.com/api/blob/master/LICENSE"
        }
    },
    "host": "api.opentransittools.com",
    "basePath": "/v1",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/pets": {
            "get": {
                "description": "Returns all pets from the system that the user has access to\n",
                "operationId": "findPets",
                "parameters": [
                    {
                        "$ref": "./parameters.json#/tagsParam"
                    },
                    {
                        "$ref": "./parameters.json#/limitsParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "pet response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "./Agency.json"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "./Error.json"
                        }
                    }
                }
            }
        },
        "/pets/{id}": {
            "get": {
                "description": "Returns a user based on a single ID, if the user does not have access to the pet",
                "operationId": "find pet by id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of pet to fetch",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "pet response",
                        "schema": {
                            "$ref": "./Agency.json"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "./Error.json"
                        }
                    }
                }
            }
        }
    }
}